<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title> <b>Title: </b> {{ poll?.Title }} </mat-card-title>
    <div *ngIf="!showContent">
      <button mat-raised-button color="primary" (click)="selectPoll()">
        Go to Poll
      </button>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="showContent">
    <div class="mat-card-content-options" *ngFor="let option of poll?.Options">
      <div><b> Options: </b></div>
      <div>{{ option.title }}</div>
      <div>Votes:</div>
      <div>
        {{ option.votes }}
        <button
          mat-mini-fab
          color="primary"
          (click)="VoteOption(option?.id, poll?.PollId)"
          mat-button
        >
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
